%table.table.table-hover
  %thead
    %tr
      %th Quantidade
      %th Produto
      %th Preço

  -@cart.items.each do |item|
    %tr
      %td=item.quantity
      %td
        =image_tag item.product.image.thumb
        =link_to item.product.nome, item.product
      %td.text-right=number_to_currency_br item.total_preco
  %tfoot
    %tr
      %td.text-right(colspan=3)
        %strong
          Total:
          =number_to_currency_br @cart.total_preco

%p=link_to "Comprar", checkout_cart_path, class: "btn btn-primary"
